# Exploratory Analysis

In [1]:
# imports 
import pandas as pd
import numpy as np

## Loading the Data

In [14]:
target_df = "wildfire_sizes_before_2010.csv"  # "/kaggle/input/forest-fire-prediction-epoch-hackathon/wildfire_sizes_before_2010.csv"
target_df = pd.read_csv(target_df)
target_df = target_df.rename(columns={'STATE': 'State', 'month': 'year_month'})
target_df.head()

  State year_month  total_fire_size
0    AK    1992-04             10.1
1    AK    1992-05           4309.5
2    AK    1992-06          86460.6
3    AK    1992-07          48578.5
4    AK    1992-08           3321.8

In [5]:
states_df = "merged_state_data.csv"  # "/kaggle/input/forest-fire-prediction-epoch-hackathon/merged_state_data.csv"
states_df = pd.read_csv(states_df)
states_df.head()

,State,mean_elevation,Land Area (sq mi),Water Area (sq mi),Total Area (sq mi),Percentage of Federal Land,Urbanization Rate (%)
0,AK,580,570641,94743,665384,60.9%,64.9
1,AL,150,50645,1775,52420,2.7%,57.7
2,AR,200,52035,1143,53179,9.4%,55.5
3,AZ,1250,113594,396,113990,38.6%,89.3
4,CA,880,155779,7916,163695,45.4%,94.2

In [6]:
weather_df = "weather_monthly_state_aggregates.csv"  # "/kaggle/input/forest-fire-prediction-epoch-hackathon/weather_monthly_state_aggregates.csv"
weather_df = pd.read_csv(weather_df)
weather_df.head()

  State year_month   PRCP   EVAP  TMIN   TMAX
0    AK    1992-05   5.36  44.17 -56.0  233.0
1    AK    1992-06  14.03  39.27 -17.0  322.0
2    AK    1992-07  16.78  30.91  28.0  300.0
3    AK    1992-08  10.46  20.14 -33.0  267.0
4    AK    1992-09  17.25  15.27 -61.0  183.0

In [7]:
states_df.columns

Index(['State', 'mean_elevation', 'Land Area (sq mi)', 'Water Area (sq mi)',
       'Total Area (sq mi)', 'Percentage of Federal Land',
       'Urbanization Rate (%)'],
      dtype='object')

In [11]:
len(states_df)

50

In [18]:
combined_df = pd.merge(weather_df, states_df, on='State', how='inner')
combined_df_clean = pd.merge(combined_df, target_df, on=['State', 'year_month'], how='inner')
combined_df_clean.head()

,State,year_month,PRCP,EVAP,TMIN,TMAX,mean_elevation,Land Area (sq mi),Water Area (sq mi),Total Area (sq mi),Percentage of Federal Land,Urbanization Rate (%),total_fire_size
0,AK,1992-05,5.36,44.17,-56.0,233.0,580,570641,94743,665384,60.9%,64.9,4309.5
1,AK,1992-06,14.03,39.27,-17.0,322.0,580,570641,94743,665384,60.9%,64.9,86460.6
2,AK,1992-07,16.78,30.91,28.0,300.0,580,570641,94743,665384,60.9%,64.9,48578.5
3,AK,1992-08,10.46,20.14,-33.0,267.0,580,570641,94743,665384,60.9%,64.9,3321.8
4,AK,1992-09,17.25,15.27,-61.0,183.0,580,570641,94743,665384,60.9%,64.9,35.8

In [ ]:
combined_df_all = pd.merge(combined_df, target_df, on=['State', 'year_month'], how='left')
print("# rows with NaNs: ", len(combined_df_all) - len(combined_df_clean))
print("# total clean rows: ", len(combined_df_clean))
combined_df_all.head()

# rows with NaNs:  8241
# total clean rows:  6583

,State,year_month,PRCP,EVAP,TMIN,TMAX,mean_elevation,Land Area (sq mi),Water Area (sq mi),Total Area (sq mi),Percentage of Federal Land,Urbanization Rate (%),total_fire_size
0,AK,1992-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1
1,AK,1992-05,5.36,44.17,-56.0,233.0,580.0,570641.0,94743.0,665384.0,60.9%,64.9,4309.5
2,AK,1992-06,14.03,39.27,-17.0,322.0,580.0,570641.0,94743.0,665384.0,60.9%,64.9,86460.6
3,AK,1992-07,16.78,30.91,28.0,300.0,580.0,570641.0,94743.0,665384.0,60.9%,64.9,48578.5
4,AK,1992-08,10.46,20.14,-33.0,267.0,580.0,570641.0,94743.0,665384.0,60.9%,64.9,3321.8

In [24]:
combined_df_all[combined_df_all.isna().any(axis=1)]

,State,year_month,PRCP,EVAP,TMIN,TMAX,mean_elevation,Land Area (sq mi),Water Area (sq mi),Total Area (sq mi),Percentage of Federal Land,Urbanization Rate (%),total_fire_size
0,AK,1992-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1
6,AK,1992-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1
7,AK,1993-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.3
13,AK,1993-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1
14,AK,1994-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14819,WY,2021-05,7.75,55.54,-78.0,289.0,2040.0,97093.0,720.0,97813.0,46.7%,62.0,NaN
14820,WY,2021-06,1.57,100.46,61.0,383.0,2040.0,97093.0,720.0,97813.0,46.7%,62.0,NaN
14821,WY,2021-07,1.87,78.06,94.0,378.0,2040.0,97093.0,720.0,97813.0,46.7%,62.0,NaN
14822,WY,2021-08,10.23,65.58,44.0,339.0,2040.0,97093.0,720.0,97813.0,46.7%,62.0,NaN
14823,WY,2021-09,0.20,59.03,-28.0,333.0,2040.0,97093.0,720.0,97813.0,46.7%,62.0,NaN